@import url(https://fonts.googleapis.com/css?family=Lora);
@font-face {
  font-family: 'Entypo';
  src: url('../font/Entypo-webfont.woff') format('woff');
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #f2f4f4;
  overflow-y: scroll;
}
i {
  font-style: normal;
  font-family: 'Entypo';
  cursor: default;
}
p {
  cursor: default;
}
input[type="button"],
a.button,
label.button,
button.button {
  border-width: 0px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #449dc1;
  background-color: #61b6e0;
  cursor: pointer;
  width: auto;
  font-size: 20px;
  font-weight: 700;
  padding: 4px 16px;
}
input[type="button"],
a.button,
label.button,
button.button,
input[type="button"]:active,
a.button:active,
label.button:active,
button.button:active,
input[type="button"]:hover,
a.button:hover,
label.button:hover,
button.button:hover,
input[type="button"]:visited,
a.button:visited,
label.button:visited,
button.button:visited {
  outline-style: none;
  outline-width: 0;
  text-decoration: none;
  color: #fff;
}
input[type="button"]:hover,
a.button:hover,
label.button:hover,
button.button:hover {
  background-color: #6abae2;
}
input[type="button"]:active,
a.button:active,
label.button:active,
button.button:active {
  background-color: #58b2de;
}
a,
a:active,
a:visited {
  color: #5e666e;
  font-weight: 600;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.header {
  background-color: #fff;
  border-bottom-style: solid;
  border-bottom-color: #d7dcde;
  border-bottom-width: 1px;
}
.header .container .logo {
  height: 64px;
}
.header .container .logo div {
  position: relative;
  margin: 0 auto;
  background-image: url('../image/neonlogo.png');
  background-repeat: no-repeat;
  background-size: 120px 64px;
  width: 120px;
  height: 64px;
}
.header .container .search input[type="text"] {
  border-style: solid;
  border-color: #d7dcde;
  border-width: 1px;
  background-color: #f2f4f4;
  border-radius: 30px;
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #5e666e;
  padding: 0 16px;
}
.header .container .search input[type="text"]:focus {
  outline-style: none;
  outline-width: 0;
  border-color: #d7dcde;
  background-color: #fff;
}
.header .container .search .suggestions {
  position: absolute;
  display: none;
  border-style: solid;
  border-color: #d7dcde;
  border-radius: 3px;
  background-color: #fff;
  border-width: 1px;
  margin-left: 0px;
  margin-top: 3px;
  min-height: 50px;
  width: 100%;
  z-index: 99;
  overflow-x: hidden;
}
.header .container .search .suggestions ul {
  list-style: none;
}
.header .container .search .suggestions ul li {
  padding: 5px;
}
.header .container .search .suggestions ul li a {
  font-weight: 400;
}
.header .container #user-tab .inner {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-image: url('../image/usericon.png');
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-color: #f2f4f4;
  cursor: pointer;
}
.header .container #user-tab .inner:hover {
  background-image: url('../image/usericonhover.png');
  border-color: #5e666e;
  background-color: #5e666e;
}
.header .container #user-tab .inner .user-menu {
  position: absolute;
  height: auto;
  width: 120px;
  background-color: #5e666e;
  margin-left: -70px;
  margin-top: 55px;
  border-radius: 3px;
  border-width: 1px;
  border-color: #5e666e;
  border-style: solid;
  display: none;
  z-index: 99999;
}
.header .container #user-tab .inner .user-menu .triangle {
  position: absolute;
  height: 10px;
  width: 10px;
  background-image: url('../image/triangle.png');
  margin-left: 90px;
  margin-top: -10px;
}
.header .container #user-tab .inner .user-menu ul {
  list-style: none;
}
.header .container #user-tab .inner .user-menu ul li {
  padding: 5px;
  width: 140;
  font-size: 16px;
  font-weight: 400;
}
.header .container #user-tab .inner .user-menu ul li,
.header .container #user-tab .inner .user-menu ul li:focus,
.header .container #user-tab .inner .user-menu ul li:active,
.header .container #user-tab .inner .user-menu ul li:visited {
  color: #fff;
  text-decoration: none;
  padding-left: 12px;
}
.header .container #user-tab .inner .user-menu ul li:hover {
  background-color: #fff;
  color: #5e666e;
}
.header .container .menu div {
  position: relative;
  height: 100%;
  width: 270px;
  margin: 0 auto;
}
.header .container .menu div ul {
  margin-top: 11px;
}
.header .container .menu div ul li {
  list-style: none;
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  color: #5e666e;
  cursor: pointer;
  border-radius: 50px;
  padding: 2px 12px;
}
.header .container .menu div ul li:hover {
  background-color: #5e666e;
  color: #fff;
}
.header .container .toggle div {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-image: url('../image/toggle.png');
  background-size: 50px 50px;
  background-color: #f2f4f4;
  cursor: pointer;
}
.header .container .toggle div::hover {
  background-image: url('../image/togglehover.png');
  border-color: #5e666e;
  background-color: #5e666e;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .header {
    left: 0;
    right: 0;
    height: 140px;
    margin-bottom: 60px;
  }
  .header .container .toggle {
    position: absolute;
    left: 10px;
    top: 15px;
    height: 50px;
    width: 50px;
  }
  .header .container .logo {
    position: absolute;
    left: 70px;
    right: 70px;
    top: 8px;
  }
  .header .container #user-tab {
    position: absolute;
    right: 10px;
    top: 15px;
    height: 50px;
    width: 50px;
  }
  .header .container .search {
    position: absolute;
    height: 50px;
    left: 10px;
    right: 10px;
    top: 80px;
  }
  .header .container .menu {
    position: absolute;
    height: 50px;
    left: 0px;
    right: 0px;
    top: 140px;
    display: none;
    background-color: #fff;
    border-bottom-style: solid;
    border-bottom-color: #d7dcde;
    border-bottom-width: 1px;
  }
}
@media screen and (min-width: 640px) and (max-width: 959px) {
  .header {
    left: 0;
    right: 0;
    height: 140px;
  }
  .header .container .toggle {
    display: none;
  }
  .header .container .logo {
    position: absolute;
    background-color: white;
    left: 10px;
    top: 8px;
    width: 120px;
  }
  .header .container #user-tab {
    position: absolute;
    right: 10px;
    top: 15px;
    height: 50px;
    width: 50px;
  }
  .header .container .search {
    position: absolute;
    height: 50px;
    left: 140px;
    right: 70px;
    top: 15px;
  }
  .header .container .menu {
    position: absolute;
    height: 50px;
    left: 10px;
    right: 10px;
    top: 80px;
    display: block;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .header {
    left: 0;
    right: 0;
    height: 80px;
  }
  .header .container .toggle {
    display: none;
  }
  .header .container .logo {
    position: absolute;
    left: 10px;
    top: 8px;
    width: 120px;
  }
  .header .container #user-tab {
    position: absolute;
    right: 10px;
    top: 15px;
    height: 50px;
    width: 50px;
  }
  .header .container .search {
    position: absolute;
    height: 50px;
    left: 140px;
    right: 380px;
    top: 15px;
  }
  .header .container .menu {
    position: absolute;
    height: 50px;
    width: 300px;
    right: 70px;
    top: 15px;
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    left: 0;
    right: 0;
    height: 80px;
  }
  .header .container {
    width: 1280px;
    margin: 0 auto;
  }
  .header .container .toggle {
    display: none;
  }
  .header .container .logo {
    position: absolute;
    margin-left: 10px;
    margin-top: 8px;
    width: 120px;
  }
  .header .container #user-tab {
    position: absolute;
    margin-left: 1220px;
    margin-top: 15px;
    height: 50px;
    width: 50px;
  }
  .header .container .search {
    position: absolute;
    height: 50px;
    margin-left: 140px;
    width: 760px;
    margin-top: 15px;
  }
  .header .container .menu {
    position: absolute;
    height: 50px;
    width: 300px;
    margin-left: 910px;
    margin-top: 15px;
    display: block;
  }
}
#home-panel {
  margin: 0 auto;
  display: none;
}
#home-panel .item {
  background-color: #fff;
  border-color: #d7dcde;
  border-width: 1px;
  border-style: solid;
  float: left;
  width: 300px;
  height: 375px;
  margin: 10px;
}
#home-panel .item .item-header {
  position: absolute;
  margin-left: 0;
  margin-top: 0;
  height: 59px;
  width: 300px;
  border-bottom-color: #d7dcde;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
#home-panel .item .item-header p {
  font-size: 16px;
  color: #5e666e;
  padding: 20px;
}
#home-panel .item .item-content {
  position: absolute;
  margin-left: 20px;
  margin-top: 80px;
  height: 215px;
  width: 260px;
  background-color: #f5f6f6;
}
#home-panel .item .item-content .icon {
  margin-left: 92px;
  margin-top: 57px;
  width: 75px;
  height: 100px;
  background-image: url('/API/getFileThumb');
  background-size: 75px 100px;
}
#home-panel .item .item-footer {
  position: absolute;
  margin-left: 0;
  margin-top: 315px;
  height: 59px;
  width: 300px;
  border-top-color: #d7dcde;
  border-top-width: 1px;
  border-top-style: solid;
}
#home-panel .item .item-footer .button {
  display: block;
  width: 132px;
  margin-left: 84px;
  margin-top: 12px;
}
#home-panel .get-more-files {
  display: block;
  position: relative;
  float: left;
}
#home-panel .get-more-files .button {
  display: block;
  margin: 20px auto;
  width: 200px;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  #home-panel {
    width: 320px;
  }
  #home-panel .get-more-files {
    width: 320px;
  }
}
@media screen and (min-width: 640px) and (max-width: 959px) {
  #home-panel {
    width: 640px;
  }
  #home-panel .get-more-files {
    width: 640px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  #home-panel {
    width: 960px;
  }
  #home-panel .get-more-files {
    width: 960px;
  }
}
@media screen and (min-width: 1280px) {
  #home-panel {
    width: 1280px;
  }
  #home-panel .get-more-files {
    width: 1280px;
  }
}
#about-panel {
  display: none;
  background-color: #fff;
  border-color: #d7dcde;
  border-width: 1px;
  border-style: solid;
  font-size: 20px;
  color: #5e666e;
  margin: 20px auto;
}
#about-panel > .header {
  width: 100%;
  height: 50px;
  padding: 13px 20px;
}
#about-panel > .header > p {
  font-size: 20px;
  color: #5e666e;
}
#about-panel > p {
  padding: 16px 32px;
}
#about-panel ul {
  padding: 15px 48px;
  list-style: disc;
  margin: 0px 48px;
  background-color: #f2f4f4;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  #about-panel {
    width: 320px;
  }
}
@media screen and (min-width: 640px) and (max-width: 959px) {
  #about-panel {
    width: 640px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  #about-panel {
    width: 960px;
  }
}
@media screen and (min-width: 1280px) {
  #about-panel {
    width: 960px;
  }
}
#upload-panel {
  display: none;
  position: relative;
  margin: 20px auto;
  border-color: #d7dcde;
  border-width: 1px;
  border-style: solid;
  padding-bottom: 20px;
  min-height: 300px;
  background-color: #fff;
}
#upload-panel .header {
  width: 100%;
  height: 50px;
  padding: 13px 20px;
}
#upload-panel .header p {
  font-size: 20px;
  color: #5e666e;
}
#upload-panel > .right-side > .item {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #f5f6f6;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #d7dcde;
}
#upload-panel > .right-side > .item > p {
  position: absolute;
  top: 15px;
  left: 20px;
  float: left;
  font-size: 16px;
  color: #5e666e;
}
#upload-panel > .right-side > .item > .progress {
  position: absolute;
  top: 15px;
  right: 20px;
  float: right;
  height: 20px;
  width: 200px;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #d7dcde;
}
#upload-panel > .right-side > .item > .progress > .fill {
  width: 0%;
  height: 100%;
  background-color: #d7dcde;
}
#upload-panel > .right-side > .item > .complete {
  position: absolute;
  top: 15px;
  float: right;
  right: 75px;
  font-size: 48px;
  color: #38bf4b;
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  #upload-panel {
    width: 320px;
  }
}
@media screen and (min-width: 640px) and (max-width: 959px) {
  #upload-panel {
    width: 640px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  #upload-panel {
    width: 960px;
  }
}
@media screen and (min-width: 1280px) {
  #upload-panel {
    width: 960px;
  }
  #upload-panel > .left-side {
    position: absolute;
    width: 200px;
    left: 0px;
    top: 50px;
    padding: 20px;
    bottom: 0px;
    border-right-style: solid;
    border-color: #d7dcde;
    border-right-width: 1px;
  }
  #upload-panel > .left-side #add-files {
    display: none;
  }
  #upload-panel > .left-side #add-files + label,
  #upload-panel > .left-side #clear-files {
    position: relative;
    width: 160px;
    height: 50px;
    font-weight: 400;
    padding: 12px;
    padding-left: 50px;
    display: block;
    margin-bottom: 20px;
  }
  #upload-panel > .left-side #add-files + label > i,
  #upload-panel > .left-side #clear-files > i {
    font-size: 48px;
    position: absolute;
    left: 15px;
    top: 10px;
  }
  #upload-panel > .right-side {
    position: relative;
    left: 200px;
    width: 758px;
    height: auto;
  }
}
#login-panel,
#register-panel {
  background-color: #fff;
  border-color: #d7dcde;
  border-width: 1px;
  border-style: solid;
  width: 320px;
  margin: 30px auto;
  padding: 30px 0;
}
#login-panel input[type="text"],
#register-panel input[type="text"],
#login-panel input[type="password"],
#register-panel input[type="password"] {
  width: 278px;
  height: 50px;
  margin: 5px 20px;
  border-style: solid;
  border-color: #d7dcde;
  border-width: 1px;
  background-color: #f2f4f4;
  font-size: 16px;
  font-weight: 500;
  color: #5e666e;
  padding: 0 16px;
}
#login-panel input[type="text"]:focus,
#register-panel input[type="text"]:focus,
#login-panel input[type="password"]:focus,
#register-panel input[type="password"]:focus {
  outline-style: none;
  outline-width: 0;
  border-color: #5e666e;
  background-color: #fff;
}
#login-panel .warning,
#register-panel .warning {
  width: 278px;
  margin: 5px 20px;
  border-style: solid;
  border-color: #ff0000;
  border-width: 1px;
  background-color: #ffe5e5;
  font-size: 16px;
  font-weight: 500;
  color: #ff0000;
  padding: 15px 16px;
  display: none;
}
#login-panel input[type="button"],
#register-panel input[type="button"] {
  width: 278px;
  height: 50px;
  margin: 5px 20px;
}
#login-panel {
  display: none;
}
#login-panel .register {
  width: 278px;
  margin: 0 20px;
  margin-top: 20px;
  border-top-style: solid;
  border-top-color: #d7dcde;
  border-top-width: 1px;
  font-size: 12px;
}
#register-panel {
  display: none;
}
#myprofile-panel {
  display: none;
  position: relative;
  margin: 20px auto;
  border-color: #d7dcde;
  border-width: 1px;
  border-style: solid;
  padding-bottom: 20px;
  height: 500px;
  background-color: #fff;
}
#myprofile-panel > .header {
  width: 100%;
  height: 50px;
  padding: 13px 20px;
}
#myprofile-panel > .header > h2 {
  font-size: 20px;
  color: #5e666e;
}
@media screen and (min-width: 1280px) {
  #myprofile-panel {
    width: 960px;
  }
  #myprofile-panel > .avatar {
    position: relative;
    width: 320px;
    height: 450px;
    padding: 20px;
    border-right-style: solid;
    border-color: #d7dcde;
    border-right-width: 1px;
    float: left;
  }
  #myprofile-panel > .avatar #avatar-image {
    position: relative;
    float: left;
    width: 280px;
    height: 280px;
    border-radius: 280px;
    background-repeat: round;
    background-image: url('/API/getUserAvatar');
  }
  #myprofile-panel > .avatar > .change-avatar {
    position: relative;
    float: left;
    width: 280px;
    height: 50px;
    margin-top: 20px;
  }
  #myprofile-panel > .avatar > .change-avatar #change-avatar {
    display: none;
  }
  #myprofile-panel > .avatar > .change-avatar #change-avatar + label {
    position: relative;
    margin: 0 auto;
    width: 160px;
    height: 50px;
    font-weight: 400;
    padding: 12px;
    padding-left: 50px;
    display: block;
  }
  #myprofile-panel > .avatar > .change-avatar #change-avatar + label > i {
    font-size: 48px;
    position: absolute;
    left: 15px;
    top: 12px;
  }
  #myprofile-panel > .bio {
    position: relative;
    width: 638px;
    height: 450;
    float: right;
  }
  #myprofile-panel > .bio #bio-content {
    width: 598px;
    height: 280px;
    outline: none;
    margin: 20px;
    background: #f2f4f4;
    resize: none;
    border-color: #d7dcde;
    padding: 20px;
    font-size: 24px;
    color: #768089;
  }
  #myprofile-panel > .bio > .buttons {
    width: 598px;
    height: 50px;
    margin-top: 0px;
  }
  #myprofile-panel > .bio > .buttons #save-bio {
    position: relative;
    margin: 0 auto;
    width: 160px;
    height: 50px;
    font-weight: 400;
    padding: 12px;
    padding-left: 40px;
    display: block;
  }
  #myprofile-panel > .bio > .buttons #save-bio > i {
    font-size: 48px;
    left: 40px;
    top: 12px;
    position: absolute;
  }
}
#myfiles-panel {
  display: none;
  position: relative;
  margin: 20px auto;
  border-color: #d7dcde;
  border-width: 1px;
  border-style: solid;
  padding-bottom: 20px;
  background-color: #fff;
}
#myfiles-panel > .header {
  width: 100%;
  height: 50px;
  padding: 13px 20px;
}
#myfiles-panel > .header > h2 {
  font-size: 20px;
  color: #5e666e;
}
@media screen and (min-width: 1280px) {
  #myfiles-panel {
    width: 960px;
  }
  #myfiles-panel .files {
    width: 920px;
    position: relative;
    margin: 10px auto;
  }
  #myfiles-panel .files thead tr {
    background-color: #5e666e;
    font-size: 20px;
  }
  #myfiles-panel .files thead tr td {
    font-weight: 700;
    color: #fff;
    padding: 10px 10px;
  }
  #myfiles-panel .files thead tr td.name {
    padding: 10px 15px;
    border-top-left-radius: 5px;
  }
  #myfiles-panel .files thead tr td.delete {
    border-top-right-radius: 5px;
  }
  #myfiles-panel .files tbody tr {
    transition: background-color 0.5s;
  }
  #myfiles-panel .files tbody tr:hover {
    background-color: #d7dcde;
  }
  #myfiles-panel .files tbody td {
    padding: 10px 10px;
    font-size: 16;
    color: #5e666e;
    font-weight: 400;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #d7dcde;
  }
  #myfiles-panel .files tbody td.name {
    padding: 10px 15px;
  }
}
