@import url(https://fonts.googleapis.com/css?family=Lora);
* {
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #f2f4f4;
}
.header {
  background-color: #fff;
  border-bottom-style: solid;
  border-bottom-color: #d7dcde;
  border-bottom-width: 1px;
}
.header .container .logo {
  height: 64px;
}
.header .container .logo div {
  position: relative;
  margin: 0 auto;
  background-image: url('../image/neonlogo.png');
  background-repeat: no-repeat;
  background-size: 120px 64px;
  width: 120px;
  height: 64px;
}
.header .container .search input[type="text"] {
  border-style: solid;
  border-color: #d7dcde;
  border-width: 1px;
  background-color: #f2f4f4;
  border-radius: 30px;
  height: 100%;
  width: 100%;
}
.header .container .user div {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background-image: url('../image/usericon.png');
  background-size: 48px 48px;
  background-color: #fff;
  border-style: solid;
  border-color: #768089;
  border-width: 1px;
  cursor: pointer;
}
.header .container .user div:hover {
  background-image: url('../image/usericonhover.png');
  border-color: #768089;
  background-color: #768089;
}
.header .container .menu div {
  position: relative;
  height: 100%;
  width: 270px;
  margin: 0 auto;
}
.header .container .menu div ul {
  margin-top: 11px;
}
.header .container .menu div ul li {
  list-style: none;
  display: inline-block;
  font-weight: 400;
  font-size: 1.25em;
  color: #768089;
  cursor: pointer;
  border-radius: 50px;
  padding: 0.1em 0.75em;
}
.header .container .menu div ul li:hover {
  background-color: #768089;
  color: #fff;
}
@media screen and (min-width: 320px) and (max-width: 520px) {
  .header {
    left: 0;
    right: 0;
    height: 140px;
  }
  .header .container .toggle {
    position: absolute;
    background-color: red;
    left: 10px;
    top: 15px;
    height: 50px;
    width: 50px;
    opacity: 0.5;
  }
  .header .container .logo {
    position: absolute;
    left: 70px;
    right: 70px;
    top: 8px;
  }
  .header .container .user {
    position: absolute;
    right: 10px;
    top: 15px;
    height: 50px;
    width: 50px;
  }
  .header .container .search {
    position: absolute;
    height: 50px;
    left: 10px;
    right: 10px;
    top: 80px;
  }
  .header .container .menu {
    position: absolute;
    height: 50px;
    left: 0px;
    right: 0px;
    top: 140px;
    display: none;
    background-color: #fff;
    border-bottom-style: solid;
    border-bottom-color: #d7dcde;
    border-bottom-width: 1px;
  }
}
@media screen and (min-width: 521px) and (max-width: 768px) {
  .header {
    left: 0;
    right: 0;
    height: 140px;
  }
  .header .container .toggle {
    display: none;
  }
  .header .container .logo {
    position: absolute;
    background-color: white;
    left: 10px;
    top: 8px;
    width: 120px;
  }
  .header .container .user {
    position: absolute;
    right: 10px;
    top: 15px;
    height: 50px;
    width: 50px;
  }
  .header .container .search {
    position: absolute;
    height: 50px;
    left: 140px;
    right: 70px;
    top: 15px;
  }
  .header .container .menu {
    position: absolute;
    height: 50px;
    left: 10px;
    right: 10px;
    top: 80px;
    display: block;
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .header {
    left: 0;
    right: 0;
    height: 80px;
  }
  .header .container .toggle {
    display: none;
  }
  .header .container .logo {
    position: absolute;
    left: 10px;
    top: 8px;
    width: 120px;
  }
  .header .container .user {
    position: absolute;
    right: 10px;
    top: 15px;
    height: 50px;
    width: 50px;
  }
  .header .container .search {
    position: absolute;
    height: 50px;
    left: 140px;
    right: 380px;
    top: 15px;
  }
  .header .container .menu {
    position: absolute;
    height: 50px;
    width: 300px;
    right: 70px;
    top: 15px;
    display: block;
  }
}
@media screen and (min-width: 1281px) {
  .header {
    left: 0;
    right: 0;
    height: 80px;
  }
  .header .container {
    width: 1280px;
    margin: 0 auto;
  }
  .header .container .toggle {
    display: none;
  }
  .header .container .logo {
    position: absolute;
    margin-left: 10px;
    margin-top: 8px;
    width: 120px;
  }
  .header .container .user {
    position: absolute;
    margin-left: 1220px;
    margin-top: 15px;
    height: 50px;
    width: 50px;
  }
  .header .container .search {
    position: absolute;
    height: 50px;
    margin-left: 140px;
    width: 760px;
    margin-top: 15px;
  }
  .header .container .menu {
    position: absolute;
    height: 50px;
    width: 300px;
    margin-left: 910px;
    margin-top: 15px;
    display: block;
  }
}
